body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#hi{
  margin-top: 100px;
  text-align: center;
  padding-left: 100px;
  color: rgb(23, 32, 29);
  text-decoration: underline;

}

#Slick-arrow{
  color: black;
}
#Slictk-arrow{
  z-index: 100;
  left :20px !important;
}
#Slick-next{
  z-index: 100;
  right: 20px !important;
}
